.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(66, 66, 66);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar{
  display: flex;
  background-color: rgb(44, 44, 44);
  justify-content: space-between;
  
}
.Linnk{
  margin: 15px;
  text-decoration: none;
  color: aliceblue;
}
.link{
  padding-top: 17px;
  padding-right: 30px;
}
h4{
  margin: 4px;
  font-size: 32px;
  color: aliceblue;
  padding-left: 30px;
}
.bar{
  padding-top: 18px;
  
}

.input[type=text]{
  width: 300px;
  padding: 8px 20px;
}
.input[type=text]:focus {
  width: 300px;
  padding: 8px 20px;
  border: 3px solid rgb(0, 89, 255);
}
.button{
  color: aliceblue;
  background-color: rgb(44, 44, 44);
  padding: 8px 20px;
}
.details{
  background-color: #fff; /* Set background color */
  padding: 0px; /* Add padding for spacing inside the item */
  margin: 10px; /* Add margin for spacing between items */
  border-radius: 5px; /* Add rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add box shadow */
}


.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.para{
  padding: 0px;
  margin: 0px;
}
.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #333;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg);}
}


@media screen and (min-width:0px) and (max-width:350px) {
  .navbar{
    font-size: 7px
  }
  .input .button{
    width: -webkit-fill-available;
  }
  .audio{
    width: -webkit-fill-available;
  }
}